.title-services{
    font-family: $font-title;
  }
.servicios-icon {
    transition: .3s;
  }
.servicios-icon:hover {
    background: #69bb7e;
  }
.servicios-icon:hover, .servicios-icon:hover i {
    color: #fff;
}