.card-p-destacados{
    width: 18rem;
    border-radius: 5px;
  }
.productos-destacados{
    background-color: $light-blue;
    padding-bottom: 30px;
  }
.title-destacados{
    font-weight: 500;
    padding-top: 60px;
    font-family: $font-title;
  }

/* Breakpoint formato tablet*/
@media screen and (max-width: 768px) {
    .card-p-destacados{
      width: 18rem;
      border-radius: 5px;
    }
  }
  
  @media screen and (max-width: 575px) {
    .card-p-destacados{
      width: 18rem;
      border-radius: 5px;
    }
    .p-destacados{
      font-size: 18px;
    }
  }
  @media screen and (max-width: 375px) {
    .card-p-destacados{
      width: 18rem;
      border-radius: 5px;
    }
    .p-destacados{
      font-size: 18px;
    }
  }