@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

$logo-color: rgb(102, 183, 102)!important;

$font-title: 'Raleway', sans-serif;

$light-blue: #e9eef5; 

$light-gray: #f6f6f6;

$footer-bg-color: #212934;